<footer class="footer">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad dignissimos ex praesentium dolore rem quisquam suscipit, provident sequi! Laudantium quos placeat quod ipsa quam beatae magni ducimus magnam a asperiores?
        Voluptas praesentium dolores, est et voluptatibus enim placeat, doloribus sunt, maiores adipisci recusandae esse nostrum? Consequuntur, voluptatibus quidem! Recusandae ducimus quo reiciendis. Aliquam, similique nostrum placeat pariatur rem eum esse.
        Eius veritatis dolore nemo itaque est minima soluta, expedita excepturi corrupti molestiae ipsum eaque, nihil, magni deleniti enim temporibus sequi provident nisi atque! Dolorem ipsam sequi, voluptate labore natus quae!
        At dolores nemo odio alias, ad, accusamus perspiciatis voluptates atque quis voluptate, minima ipsa non quae sit? Labore, quod soluta repellat suscipit similique explicabo ullam, dolores non, porro aut dignissimos?
        Earum maxime optio accusantium accusamus id, eligendi vero obcaecati commodi deserunt neque animi non porro adipisci, quae recusandae error ipsum laboriosam voluptates, aperiam repudiandae totam placeat quia. Deserunt, dignissimos dolorum?
        Eum placeat doloribus pariatur suscipit maiores laborum nostrum commodi aspernatur molestiae maxime culpa vero assumenda excepturi odio tenetur recusandae quis, facilis est id blanditiis! Et officiis quos quibusdam non perferendis.
        Omnis itaque quae sint. Vitae corrupti dolore qui beatae minus nesciunt tempora ullam praesentium omnis? Suscipit, velit. Minima nostrum eveniet necessitatibus earum harum voluptatum, excepturi cupiditate illo repellat! Omnis, odio!
        Molestias ducimus dignissimos laudantium, possimus debitis sint beatae excepturi incidunt, deserunt dolores architecto vitae esse? Sit, nulla deserunt odio ex ipsum pariatur officia sunt, aut velit, asperiores repellat? Voluptatem, laboriosam.
        Quisquam exercitationem non nihil maiores sint necessitatibus labore ad accusamus modi vel, laboriosam odio eius, alias nesciunt sapiente quas sed error iure culpa cumque a? Vitae animi nemo autem corporis.
        Quos molestias vel quasi amet voluptate commodi neque esse exercitationem iure culpa eum hic sint saepe nobis nesciunt tempore placeat, repudiandae pariatur laboriosam? Commodi quae asperiores tempore impedit omnis numquam?
      </div>
    </div>
  </div>
</footer>
