<header class="header">
  <div class="container header__navigation">
    <nav class="navbar navbar-expand-md navbar-light">
        <a class="navbar-brand" href="index.html">AppName</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="user-registration.html">Регистрация</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="login.html">Войти</a>
            </li>
          </ul>
        </div>
      </nav>
  </div>
</header>
