.button {
  width: 100%;
  padding: 5px 15px;

  font-weight: 600;

  background-color: $button-bg;
  border: none;
  border-radius: 5px;
  color: $button-text;

  &--index {
    min-width: 65px;
    padding: 5px 0;
    margin-bottom: 2px;
  }
}
