.form {
  position: relative;

  padding-top: 50px;
  margin-bottom: 30px;
}

.form__title {
  margin-bottom: 25px;

  font-size: $form-title-size;
  line-height: 1.8em;
  font-weight: 600;

  border-bottom: 1px solid $form-borders;
}

.form__section {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: 25px;

  &--checkbox {
    flex-direction: row;

    user-select: none;
  }

  &--pass {
    margin-bottom: 5px;
  }

  &--link {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: auto;
  }

  &--submit {
    margin-right: auto;
  }

  &--recovery,
  &--repeat-pass,
  &--user-pass {
    margin-bottom: 40px;
  }

  &--avatar {
    flex-direction: row;
  }

  &--email,
  &--birth-date,
  &--description {
    margin-bottom: 35px;
  }

  &--birth-date {
    width: 160px;
  }

  &--index-submit {
    margin-top: auto;
    margin-bottom: 0;
  }
}

.form__label,
.form__description {
  margin: 0 0 0 10px;

  font-size: $label-text-size;
  color: $light-text;

  &--checkbox {
    color: $main-text-color;
  }
}

.form__input {
  width: 100%;
  height: 100%;
  padding: 5px 10px;

  border-radius: 5px;
  border: 1px solid $form-borders;

  &--equipment {
    padding-left: calc(50% - 3em);
  }

  &--birth-date {
    text-align: center;
  }

  &--textarea {
    resize: none;
  }
}

.form__link {
  font-size: $label-text-size;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
}

.form__checkbox {
  margin-top: 5px;
}

.form__checkbox-item {
  display: flex;
  margin-bottom: 5px;

  user-select: none;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.form__invalid-text {
  position: absolute;
  bottom: -1.5em;

  margin: 0 0 0 10px;

  font-size: $label-text-size;
//  font-weight: 600;
  color: $invalid;
}

.form__sub-section--full-name {
  width: 100%;
  margin-left: 15px;
}

.form__avatar {
  position: absolute;

  display: block;
  width: 170px;
  height: 180px;
  object-fit: cover;
}

.form__avatar-wrapper {
  position: relative;

  display: flex;
  width: 170px;
  height: 180px;
  box-sizing: content-box;
  margin-bottom: 5px;

  border: 2px solid $avatar-bg;
}

.form__avatar-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5px;

  background-color: $avatar-bg;
}

.form__avatar-description {
  color: $avatar-descr-color;
}

.form__label {
  &--avatar {
    margin-left: 50%;
    transform: translateX(-50%);

    font-weight: 500;
    color: $avatar-link-color;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      text-decoration: none;
      opacity: 0.8;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &--gallery {
    margin-bottom: 10px;

    color: $gallery-text-color;
  }

  &--add-img {
    display: inline-block;
    padding: 5px 10px;
    margin: 0;

    color: $main-text-color;
    border: 1px solid $button-bg-img;
    border-radius: 5px;

    cursor: pointer;
  }
}

.form__input-file:active,
.form__input-file:focus {
  position: absolute;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

// Стандартный outline хрома
.form__input-file:focus+.form__label {
  outline-color: #4D90FE;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}

.form__name-block {
  margin-bottom: 30px;
}

.form__section-wrapper {
  display: flex;
}

.form__submit-wrapper {
  display: flex;
}
