.main-form__label {
  margin-left: 10px;

  font-size: 14px;
  color: $light-text;
}

.main-form__input {
  width: 100%;
  height: 100%;

  border-radius: 5px;
  border: 1px solid $button-border;

  &--equipment {
    padding-left: calc(50% - 3em);
  }
}
